*                           @Proyecto-Maestria-Spa-Unas/equipo-analistas
/docs/02-arquitectura/      @Proyecto-Maestria-Spa-Unas/equipo-analistas @Proyecto-Maestria-Spa-Unas/plataforma-admins
/docs/03-procesos/          @Proyecto-Maestria-Spa-Unas/equipo-analistas @Proyecto-Maestria-Spa-Unas/equipo-devops
